*.DS_Store

rtl_designs/manchester_scheme
rtl_designs/spi/spi_master.sv
rtl_designs/spi/vivado/
rtl_designs/tmds/


mov_files.sh
replace.sh

rtl_designs/**/*.vcd
rtl_designs/**/*.vvp
rtl_designs/**/obj_dir/
